{% extends 'base.html' %}

{% block content %}
<head>
    <link href="{{ url_for('static', filename='css/sign-in.css') }}" rel="stylesheet">
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
        <form method="post">
            <h1 class="h3 mb-3 fw-normal">请登录</h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="username">
                <label for="floatingInput">账号</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">密码</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit" name="submit">登录</button>
        </form>
    </main>
</body>
{% endblock %}